<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Go to http://partnercenterservice.microsoft.com/pc/pc/APIIntegration to onboard your application-->
		<add key="AppId" value="5b4d0399-3da7-4dd9-84ff-8ceba0cc989d" />
		<add key="Key" value="TgO7RJPCi1RQMJN+w1kQe1y5okzD77lvCAvlxkWpm6E=" />
		<!-- Go to http://partnercenterservice.microsoft.com/pc/AccountSettings/TenantProfile to get this information-->
		<add key="MicrosoftId" value="e9894580-3eea-4256-a1f6-bf943fe74a25" />
		<add key="DefaultDomain" value="cspsandbox7.onmicrosoft.com" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>